body{
    padding: 0;
    margin:0;
    background-image:url(liguria.jpg);
    background-size:cover;

}

p{
  letter-spacing: 0px;  
  text-indent: 40px;
  font-family: Comic sans ms;
  font-weight: bold;
  color: snow;

}
#em_id{
 text-decoration: underline;
 font-style:italic
}